.wrapper {
  max-width: 1232px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 4px 27px 0px rgba(230, 231, 234, 0.78);
}

.custom-table tbody {
  font-weight: 500;
  font-size: 13px;
}

.custom-table tbody tr {
  min-height: 56px;
}

.pagination button {
  color: #474955;
  /* font-size: 24px; */
  font-weight: 500;
}

.pagination .page-numbers button {
  font-style: italic;
  font-size: 18px;
  font-weight: 700;
}

.pagination button:disabled {
  color: #ccc;
}

.pagination .active {
  color: #7ebc3c;
}
